@font-face {
    font-family: body;
    src: url('/resources/D-DIN.otf');
}

@font-face {
    font-family: body;
    src: url('/resources/D-DIN-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: title;
    src: url('/resources/D-DINExp.otf');
}

@font-face {
    font-family: title;
    src: url('/resources/D-DINExp-Bold.otf');
    font-weight: bold;
}

html {
    margin: 0 auto;
	font-size: 1.2em;
}

body {
	max-width: 800px;
    font-size: 1em;
    color: #FFFFFF;
    padding: 25px 25px 25px 25px;
    margin:auto;
    line-height: 1.5;
	background-color: #111118;
	background-image:url('/resources/paper.png');
	background-attachment: fixed;
	overflow-x: hidden;
}

h1, h2, h3 {
	line-height: 1;
	font-weight: bold;
	margin:10px 0 10px 0;
    font-family: title, sans-serif;
}

h1 {
    font-size: 3em;
    line-height: 1.2;
}

h2 {
    font-size: 2em;
}

h3 {
	font-weight: normal;
    font-size: 1.5em;
}

body {
	font-family: body, serif;
}

section {
	padding: 2em 0px;
	position:relative;
}

section:nth-child(even)::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 100%;
	z-index: -1;
	background-color: #222229;
}

.webvid {
	width:100%;
	aspect-ratio:16 / 9;
	position:relative;
	background-color:black;
	margin: 20px 0;
}

.webvid * {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

iframe {
	border: none;
}

a {
	color: #00EEEE;
}

a:hover {
    color: #FF4444;
}

a img {
	vertical-align:top;
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 2em;
    }

    h2, h3 {
        font-size: 1.5em;
    }
	
	section, header {
		padding: 20px;
	}
	
	body {
		padding-left:0px;
		padding-right:0px;
	}
	
	.verticalvid {
		padding:100% 0 0 0;
	}
}